<html>
  <head>
    <meta charset="utf-8">
    <title>TAARKBnB</title>
  </head>
  <body>
    <h1>Log in to TAARKBnB</h1>
    <form action='/sessions' method='post'>
      <label for='email'>
        Email Address <input name='email' type='email' required >
      </label>
      <label for='password'>
        Password <input name='password' type='password'>
      </label>
      <input type='submit' value='Login'>
    </form>
  </body>
</html>
