<html>

  <head>
    <title>List a Space | TaarkBnB</title>
  </head>

  <body>

      <h1>List a Space</h1>

      <div class='form-wrapper2'>

        <form action='/spaces' method='post'>

          <label for="name" class="required">
            Name:
            <br>
            <input class='text-input2'type="text" name="name" required/>
          </label>

          <br>

          <label for="description" class="required">
            Description:
            <br>
            <textarea class='textarea-input' rows="4" columns="50" name="description" required></textarea>
          </label>

          <br>

          <label for="description" class="required">
            Price:
            <br>
            <input class='text-input' type="number" name="price" placeholder="£" required />
          </label>

          <br>

          <label for="date_from" class="required">
            Available From:
            <br>
            <input class='text-input' type='date' name='date_from' min="<%= @today %>" required />
          </label>

          <br>

          <label for="date_to" class="required">
            Available To:
            <br>
            <input class='text-input' type='date' name='date_to' min="<%= @tomorrow %>" required />
          </label>

          <br>

          <input class='button' type="submit" value="List my Space" />

        </form>

    </div>


  </body>

</html>
