<html>

  <head>
    <title>List a Space | TaarkBnB</title>
  </head>

  <body>

      <h1>List a Space</h1>

      <div class='form-wrapper2'>

        <form action='/spaces' method='post'>

          <label for="name">
            Name:
            <br>
            <input class='text-input2'type="text" name="name"/>
          </label>

          <br>

          <label for="description">
            Description:
            <br>
            <textarea class='textarea-input' rows="4" columns="50" name="description"></textarea>
          </label>

          <br>

          <label for="description">
            Price:
            <br>
            <input class='text-input' type="text" name="price" placeholder="£" />
          </label>

          <br>

          <label for="date_from" class="required">
            Available From:
            <br>
            <input type="date" id="date_from" name="date_from" min="<%= @today %>" />
          </label>

          <br>

          <label for="date_to" class="required">
            Available To:
            <br>
            <input class='text-input' type="date" name="date_to" />
          </label>

          <br>

          <input class='button' type="submit" value="List my Space" />

        </form>

    </div>


  </body>

</html>
