<html>
  <head>
    <title>All Spaces | TaarkBnB</title>
  </head>

  <body>

    <h1>Book a Space</h1>

    <form action='/spaces/new' method='get'>

      <input type='submit' value="List a Space">

    </form>

    <ul id='spaces'>
      <% @spaces.each do | space | %>
      <li>
        <%= space.name %>
        <BR>
        <%= space.description %>
        <BR>
        <%= space.price %>
      </li>
      <% end %>
    </ul>

  </body>

</html>
