<html>

<head>
	<title> All Spaces | TAARKBnB </title>


</head>

<body>

<form action="/requests" method="post">

	<label for="date_from">
		From Date:
		<input type="date" name="date_from" />
	</label>

	<label for="date_to">
		To Date:
		<input type="date" name="date_to" />
	</label>

	<input type="submit" value="Request to Book" />

</form>



</body>


</html>