<head>

<title>Requests | TAARKBnB</title>

</head>

<body>

	Your booking request has been sent.

	<br>

	<h1>Requests I've Made</h1>

	<br>
  <ul>
    <% @requests_made.each do | request | %>
    <div class='request-wrapper'>
      <h3><%= request.space.name %></h3>
      Not confirmed
    </div>
    <% end %>
  </ul>

</body>
