<html>

  <head>

    <meta charset="utf-8">
    <title>TAARKBnB</title>

  </head>

  <body>

    <h1>Feel at home, anywhere</h1>

    <br>

    <h2>Sign up to TAARKBnB</h2>

    <div class="form-wrapper">

      <form action='/new' method='post'>
        <label for='email'>
          Email Address
          <br>
          <input class='text-input' name='email' type='email' value='<%= @user.email%>' required >
        </label>
        <label for='password'>
          Password
          <br>
          <input class='text-input' name='password' type='password'>
        </label>
        <label for='password_confirmation'>
          Password Confirmation
          <br>
          <input class='text-input' name='password_confirmation' type='password'>
        </label>
        <br>
        <input class='button' type='submit' value='Sign Up'>
      </form>

  </div>

  </body>

</html>
